/**
 * FILEPATH: c:\Users\pual.moreno\Desktop\VSCODES\serviciosWebCUN\Assets\css\index.css
 * 
 * This CSS file contains styles for the index page of a website. It includes styles for dividing the section into two columns, 
 * displaying text and images, and creating hover effects. It also includes styles for a section with a hidden text that appears 
 * on hover, a section with certificates displayed in a grid, and a section with cards that have a border and a hover effect.
 */
/**
 * FILEPATH: c:\Users\pual.moreno\Desktop\VSCODES\serviciosWebCUN\Assets\css\index.css
 * 
 * This CSS file contains styles for the index page of a website. It includes styles for dividing the section into two columns, 
 * displaying text and images, and creating hover effects. It also includes styles for a section with a hidden text that appears 
 * on hover, a section with certificates displayed in a grid, and a section with cards that have a border and a hover effect.
 */
/*Divide la seccion en dos columnas*/
.Inicio {
  height: 100vh;
  /*100%delviewportheight*/
  display: grid;
  align-items: center;
  background-color: #9eded8;
  color: #2d6883;
  opacity: 0;
  /*Iniciaconopacidadcero*/
  transform: translateY(50px);
  /*Desplazamientohaciaabajo*/
  transition: opacity 1s ease, transform 1s ease;
  /*Transicionesdeentrada*/
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  -webkit-transition: opacity 1s ease, transform 1s ease;
  -moz-transition: opacity 1s ease, transform 1s ease;
  -ms-transition: opacity 1s ease, transform 1s ease;
  -o-transition: opacity 1s ease, transform 1s ease;
}

.Inicio.mostrar {
  opacity: 1;
  transform: translateY(0);
}

.Inicio > :nth-child(2n + 1) {
  background-color: #9eded8;
  margin: 40px;
}

.Inicio > :nth-child(2n) {
  background-color: #4b9aa0;
  margin: 40px;
  border-radius: 50px;
}

.Inicio .text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Inicio .text-container h1 {
  font-size: 3rem;
  font-weight: 700px;
  margin-bottom: 20px;
}

.Inicio .text-container h2 {
  letter-spacing: 30px;
  text-decoration-color: #2d6883;
  margin: 10px 10px 10px 10px;
}

.Inicio .text-container p {
  font-size: 1rem;
  font-weight: 400px;
  margin-bottom: 20px;
}

.Inicio .imagen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0 5% 0;
}

.Inicio .imagen-container img {
  width: 100%;
  height: auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
/*RENSPONSIVE DE .INICIO*/

/*AREA DE CONTENIDO INTRO*/
.ContenidoIntro {
  height: 50vh;
  background-color: #1b676d;
  color: #9eded8;
  padding: 40px 50px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /*agregamos un overflow hidden para que la animación no se desborde*/
}

.ContenidoIntro .texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bold;
  opacity: 0; /*inicialmente lo ponemos oculto*/
  transition: opacity 0.5s ease;
}

.ContenidoIntro .titulo {
  font-size: 4rem;
  font-weight: bold;
  opacity: 1; /*inicialmente lo ponemos visible*/
  transition: opacity 0.5s ease;
  /*CENTRA EL TEXTO*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ContenidoIntro:hover .texto {
  opacity: 1; /*cuando se hace hover en el ContenidoIntro hacemos visible el título*/
}

.ContenidoIntro:hover .titulo {
  opacity: 0; /*cuando se hace hover en el ContenidoIntro hacemos visible el título*/
}

@media only screen and (max-width: 768px) {
  .ContenidoIntro {
    height: auto;
    padding: 50px;
    flex-direction: column;
    text-align: center;
  }
}

.ContenidoInfo {
  height: 110vh;
  background-color: #9eded8;
  color: #268b92;
  padding: 40px 50px 0 50px;
}

.ContenidoInfo .LineaDivi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  border: 5px solid #268b92;
  margin-bottom: 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.ContenidoInfo .certificados {
  margin: 50px 100px 10px 50px;
  padding: 10px 50px;
  display: flex;
  height: 20rem;
  gap: 1rem;
  background-color: #268b92;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.ContenidoInfo .certificados > a {
  flex: auto;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: auto 100%;*/
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  -moz-transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  -ms-transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  -o-transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.ContenidoInfo .certificados > a:hover {
  flex: 5;
}

.ContenidoInfo .Texto h1 {
  padding: 50px 0 0 0;
  font-size: 3.999rem;
}

.ContenidoInfo .Texto p {
  font-size: 1rem;
  padding: 0 10px 0 100px;
  color: #2d6883;
}

.ContenidoEnd {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.cardMe {
  height: 380px;
  width: 300px;
  transition: background 0.8s;
  overflow: hidden;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-transition: background 0.8s;
  -moz-transition: background 0.8s;
  -ms-transition: background 0.8s;
  -o-transition: background 0.8s;
}

.cardMe .border {
  height: 369px;
  width: 290px;
  margin: 15px;
  opacity: 0;
  background: transparent;
  border: none !important;
  transition: border 1s;
  position: relative;
  -webkit-transition: border 1s;
  -moz-transition: border 1s;
  -ms-transition: border 1s;
  -o-transition: border 1s;
}

.cardMe .border:hover {
  opacity: 1;
  z-index: 1;
  transition: border 1.5s;
  -webkit-transition: border 1.5s;
  -moz-transition: border 1.5s;
  -ms-transition: border 1.5s;
  -o-transition: border 1.5s;
}

.cardMe {
  background: url("https://cun.edu.co/wp-content/uploads/2022/07/botones-23.webp")
    center center no-repeat;
  background-size: 150px;
}

.cardMe:hover {
  background: url("https://cun.edu.co/wp-content/uploads/2022/07/botones-23.webp")
    center center no-repeat;
  background-size: 300px;
}

.cardMe2 {
  height: 380px;
  width: 300px;
  transition: background 0.8s;
  overflow: hidden;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-transition: background 0.8s;
  -moz-transition: background 0.8s;
  -ms-transition: background 0.8s;
  -o-transition: background 0.8s;
}

.cardMe2 .border {
  height: 369px;
  width: 290px;
  margin: 15px;
  opacity: 0;
  background: transparent;
  border: none !important;
  transition: border 1s;
  position: relative;
  -webkit-transition: border 1s;
  -moz-transition: border 1s;
  -ms-transition: border 1s;
  -o-transition: border 1s;
}

.cardMe2 .border:hover {
  opacity: 1;
  z-index: 1;
  transition: border 1.5s;
  -webkit-transition: border 1.5s;
  -moz-transition: border 1.5s;
  -ms-transition: border 1.5s;
  -o-transition: border 1.5s;
}

.cardMe2 {
  background: url("https://cun.edu.co/wp-content/uploads/2022/07/SINU-botones-19.png")
    center center no-repeat;
  background-size: 150px;
}

.cardMe2:hover {
  background: url("https://cun.edu.co/wp-content/uploads/2022/07/SINU-botones-19.png")
    center center no-repeat;
  background-size: 300px;
}
